[Desktop Entry]
Type=Application
Terminal=false
Name=Discord Push-to-Talk
GenericName=Discord Push-to-Talk
Comment=Native Wayland push-to-talk bridge for Discord
Exec=/usr/bin/push-to-talk --input-device /dev/input/by-id/<device-id>
